{% extends 'base.html' %}

{% block title %}
{{post.name}}
{% endblock %}

{% block body %}

<table class="metadata">
    <tr>
        <th>Date</th>
        <td><span class="ts">{{post.ts}}</span></td>
    </tr>
    <tr>
        <th>User</th>
        <td><span class="user_name">{{post.user_name}}</span></td>
    </tr>
    <tr>
        <th>Title</th>
        <td><span class="name">{{post.name}}</span></td>
    </tr>
</table>

<div class="tools">
    {% if post.user_id == user.id %}
    <a href="{{url_for('post_edit', id=post.id)}}">Edit</a>
    {% endif %}
</div>

<div class="post">
    <span class="text">{{post.text|nl2br}}</span>
</div>

{% for comm in comms %}
{{comm.html|safe}}
<div class="comm">
    <p>
        by <span class="user_name">{{comm.user_name}}</span> at <span class="ts">{{comm.ts}}</span>
        / <a href="{{url_for('comm_edit', post_id=post.id, parent_id=comm.id)}}">Reply</a>
        {% if comm.user_id == user.id %}
        / <a href="{{url_for('comm_edit', id=comm.id)}}">Edit</a>
        {% endif %}
    </p>
    <span class="text">{{comm.text|nl2br}}</span>
</div>
{% endfor %}
{{comms_html|safe}}

<div class="edit comm">
    <form method="post" action="{{url_for('comm_edit', post_id=post.id)}}">
        <textarea name="text"></textarea>
        <input type="submit" value="Save">
    </form>
</div>

{% endblock %}
