{% extends 'base.html' %}

{% block body %}

<table>
    <tr>
        <th>Date</th>
        <td>{{post.ts}}</td>
    </tr>
    <tr>
        <th>User</th>
        <td>{{post.user_name}}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{post.name}}</td>
    </tr>
</table>

<div class="post">
    {{post.text|nl2br}}
</div>

{% if post.user_id == user.id %}
<div class="tools">
    <a href="{{url_for('post_edit', id=post.id)}}">Edit</a>
</div>
{% endif %}

{% for comm in comms %}
{{comm.html|safe}}
<div class="comm">
    <p>
        by {{comm.user_name}} at {{comm.ts}}
        / <a href="{{url_for('comm_edit', post_id=post.id, parent_id=comm.id)}}">Reply</a>
        {% if comm.user_id == user.id %}
        / <a href="{{url_for('comm_edit', id=comm.id)}}">Edit</a>
        {% endif %}
    </p>
    {{comm.text|nl2br}}
</div>
{% endfor %}
{{comms_html|safe}}

<div class="edit comm">
    <form method="post" action="{{url_for('comm_edit', post_id=post.id)}}">
        <textarea name="text"></textarea>
        <input type="submit" value="Save">
    </form>
</div>

{% endblock %}
